<tr class="tr-all {{ PAGE }}"><td class="tag"><a target="_blank" href="{{url}}">{{filename}}</a><br><br><a target="_blank" href="#" onclick="showMetaResult('{{TAG}}');return false;">Hearing Metadata</a></td><td class="data"><span>{{PRE_DATA}}</span><span class="es_value_data text-success">{{sentence}}</span><span>{{POST_DATA}}</span></td><td class="title es_value_data text-success">{{author}}</td><td >{{title}}</td><td></td><td><td><label><input class="csv" type="checkbox"></label></td></tr>



