<tr class="tr-all {{ PAGE }}"><td class="tag"><a target="_blank" href="{{LINK}}">{{TAG}}</a></td><td class="data">{{DATA}}</td><td class="title">{{TITLE}}</td><td class="helddate">{{HELD_DATE}}</td><td><label><input class="csv" type="checkbox"></label></td></tr>
